#!/usr/bin/env bash

export LSCOLORS=gxfxcxdxbxegedabagaced

# Make vim the default editor.
export EDITOR='code';

## Path to make coreutils man pages accessible
export MANPATH="/usr/local/opt/coreutils/libexec/gnuman:$MANPATH"

## Location of Ansible host file
export ANSIBLE_HOSTS=/Users/pmullins/.ansible/hosts

## Path to ~/ for w3m
export WWW_HOME=$HOME

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";

# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

## Keep track of changes made using the defaults write command
PROMPT_COMMAND='echo "$(history 1 | grep "defaults write")" | sed '/^$/d' >> ~/Documents/defaults-write.txt'

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Avoid issues with `gpg` as installed via Homebrew.
# See: https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

## Homebrew
export HOMEBREW_NO_EMOJI='0'
export HOMEBREW_INSTALL_BADGE=🎃
export HOMEBREW_NO_ANALYTICS=1

## Flutter
export PATH=~/Documents/Development/flutter/bin:$PATH
